<% if @recieved.include?(user) && user.id != current_user.id %>
  <%= form_with(url: friendships_accept_path, method: 'post', local: true, class: "d-inline") do |f| %>
    <%= hidden_field(:friendship, :user_id, value: user.id) %>
    <span class="actions">
      <%= f.submit "Accept Request", class: "btn btn-primary" %>
    </span>
  <% end %>
  <%= form_with(url: friendships_reject_path, method: 'post', local: true, class: "d-inline") do |f| %>
    <%= hidden_field(:friendship, :user_id, value: user.id) %>
    <span class="actions">
      <%= f.submit "Reject Request", class: "btn btn-primary" %>
    </span>
  <% end %>
<% elsif @pending.include?(user) && user.id != current_user.id %>
    <span class="badge badge-success p-1">Request sent</span>

<% elsif !current_user.riend?(user) && user.id != current_user.id %>        
  <%= form_with(url: friendships_create_path, method: 'post', local: true, class: "d-inline") do |f| %>
    <%= hidden_field(:friendship, :user_id, value: user.id) %>
    <span class="actions">
      <%= f.submit "Send request", class: "btn btn-primary" %>
    </span>
  <% end %>
<% elsif user.id != current_user.id %>  
  <span class="badge badge-info p-1">Friend</span>
<% end %>
